<!DOCTYPE html>
{%load staticfiles%}
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8"> 
<link rel="stylesheet" type="text/css" href="/static/css/estilo.css">
<head>
	<title>Publicación Objeto Econtrado</title>
</head>
<body>
	
	<div class="div-central">
	    <h3>Instrucciones</h3><br>
	    <p>En la parte superior encontrada un titulo y una descripcion sobre
	    la cual debera escribir, por ejemplo Titulo: "Mochila" Descripcion: "Encontre una mochila roja en el salon 209", 
	    despues al darle click en siguiente usted podre subir las imagenes que considere necesarias.</p>
	    </div>
</body>
</html>
